@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
  margin: 0;
}
.content-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
}
img{
  width: 20vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.motivated{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
  /* z-index: 100; */
  font-size: 60px;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}
@media (max-width: 1000px){
  .content-wrapper{
    flex-direction: column;
  }
  img{
    width: 100vw;
    height: 60vh;
  }
  .motivated{
    height: 60vh;
  }
}